{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter Your Email" />

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Your Password" />

        <input type="submit" value="login">
    </form>

    <p>Haven`t signed up yet?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}

        {% for field in form %}
        <div>
            <label for="{{field.register}}">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}

        <button type="submit">Register</button>

    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}


{% endblock content %}